/**
 * Settings - Colors
 *******************
 */

@color-white: #fff;
@color-dodger-blue: #5584ff;
@color-biscay-blue: #1b2d5a;
@color-bunting-blue: #0e1a35;
@color-black-pearl: #061332;
@color-royal-blue: #4c76e4;
@color-bali-hai: #8492af;
@color-athens-gray: #dfe2ea;
@color-mischka: #d2d6df;
@color-tickle-me-pink: #f96e98;
@color-emerald: #4fd361;
@color-whisper: #f6f7fa;

.text-white {
  color: @color-white !important;
}

.text-dodger-blue {
  color: @color-dodger-blue !important;
}

.text-bunting-blue {
  color: @color-bunting-blue !important;
}

.text-biscay-blue {
  color: @color-biscay-blue !important;
}

.text-black-pearl {
  color: @color-black-pearl !important;
}

.text-royal-blue {
  color: @color-royal-blue !important;
}

.text-bali-hai {
  color: @color-bali-hai !important;
}

.text-athens-gray {
  color: @color-athens-gray !important;
}

.text-mischka {
  color: @color-mischka !important;
}

.text-tickle-me-pink {
  color: @color-tickle-me-pink !important;
}

.text-emerald {
  color: @color-emerald !important;
}

.background-white {
  background-color: @color-white !important;
}

.background-dodger-blue {
  background-color: @color-dodger-blue !important;
}

.background-biscay-blue {
  background-color: @color-biscay-blue !important;
}

.background-bunting-blue {
  background-color: @color-bunting-blue !important;
}

.background-black-pearl {
  background-color: @color-black-pearl !important;
}

.background-royal-blue {
  background-color: @color-royal-blue !important;
}

.background-bali-hai {
  background-color: @color-bali-hai !important;
}

.background-athens-gray {
  background-color: @color-athens-gray !important;
}

.background-mischka {
  background-color: @color-mischka !important;
}

.background-tickle-me-pink {
  background-color: @color-tickle-me-pink !important;
}

.background-emerald {
  background-color: @color-emerald !important;
}

.background-whisper {
  background-color: @color-whisper !important;
}

.background-transparent {
  background-color: transparent !important;
}
