/**
* Settings - Fonts
******************
*/

//@FIXED: Inconsistent in font file name
//@FIXED: The font-family name should not have dash (-), please use "Roboto Regular" (with quote) instead.
// I's standard, then if the user machine has this font, it will be loaded from local system instead
@font-face {
  font-family: 'Roboto Regular';
  src:
    url(./../../assets/fonts/Roboto-Regular.ttf),
    url(./../../assets/fonts/Roboto-Regular.eot),
    url(./../../assets/fonts/Roboto-Regular.woff),
    url(./../../assets/fonts/Roboto-Regular.svg);
}

@font-face {
  font-family: 'Roboto Thin';
  src:
    url(./../../assets/fonts/Roboto-Thin.ttf),
    url(./../../assets/fonts/Roboto-Thin.eot),
    url(./../../assets/fonts/Roboto-Thin.woff),
    url(./../../assets/fonts/Roboto-Thin.svg);
}

@font-face {
  font-family: 'Roboto Medium';
  src:
    url(./../../assets/fonts/Roboto-Medium.ttf),
    url(./../../assets/fonts/Roboto-Medium.eot),
    url(./../../assets/fonts/Roboto-Medium.woff),
    url(./../../assets/fonts/Roboto-Medium.svg);
}

@font-face {
  font-family: 'Roboto Bold';
  src:
    url(./../../assets/fonts/Roboto-Bold.ttf),
    url(./../../assets/fonts/Roboto-Bold.eot),
    url(./../../assets/fonts/Roboto-Bold.woff),
    url(./../../assets/fonts/Roboto-Bold.svg);
}
