/**
 * Modules - Footer
 ******************
 */

#footer {
  .background-bunting-blue;
  
  height: 150px;
  padding-left: 252px;
  padding-right: 265px;
  
  .container-fluid {
    #footer__copyright_texts {
      .text-bali-hai;
      
      font-family: Roboto-Regular, sans-serif;
      font-size: 18px;
      float: left;
      line-height: 150px;
    }
    
    #footer__links {
      float: right;

      a {
        .text-bali-hai;

        display: inline-block;
        text-decoration: none;
        font-family: Roboto-Regular, sans-serif;
        font-size: 18px;
        letter-spacing: 0.3px;
        line-height: 150px;
        
        &.item-link {
          margin-right: 30px;
        }
        
        &.item-link.pricing {
          margin-right: 44px;
        }
        
        &.item-link.blog {
          margin-right: 50px;
        }
        
        &.item-link.contact {
          margin-right: 40px;
        }
        
        &.item-social {
          margin-right: 8px;
        }
        
        &.google-plus {
          img {
            width: 19px;
            height: 19px;
          }
          
          margin-right: 9px;
        }
        
        &.facebook {
          margin-right: 17px;
        }

        &.twitter {
          margin-right: 13px;
        }
      }
    }
  }
}
