/**
 * Modules - Layout #1's Header
 ******************************
 */
.page-home {
  #header {

    .background-transparent;
    .clearfix;

    .container-fluid {
      padding: 68px 183px 68px 160px;

      #header__logo {
        .pull-left;

        img {

        }
      }

      #header__menu {
        .pull-right;

        .list {
          margin-top: 19px;
          margin-right: -11px;

          .item {
            .text-white;

            letter-spacing: 0.031em;
            text-decoration: none;
            font-family: Roboto-Regular, sans-serif;
            font-size: 18px;

            &.button {
              .text-royal-blue;

              font-size: 18px;
              padding: 10px 40px 14px 43px;
              border: 2px solid @color-biscay-blue;
              -webkit-border-radius: 25px;
              -moz-border-radius: 25px;
              border-radius: 25px;
            }

            &#header__menu__item_1 {

            }

            &#header__menu__item_2 {
              margin-left: 43px;
            }

            &#header__menu__item_3 {
              margin-left: 44px;
            }

            &#header__menu__item_4 {
              margin-left: 48px;
            }

            &#header__menu__item_5 {
              margin-left: 38px;
            }
          }
        }
      }
    }
  }
}
