/**
 * Pages - Home
 **************
 */

.page-home {
  #main {
    a {
      .text-white;

      text-decoration: none;
    }
    //@FIXED: Do not do this way. You're still obsessed to using heading tags in wrong places

    #section_2 {
      position: relative;
      background: url("./../../assets/images/pages/home/section_2__background_2.png");
      background-repeat: no-repeat;
      background-size: auto;
      //@FIXED: Animation is not working!
      //animation: fromLeftToRight 10s linear infinite;
      //
      //@keyframes fromLeftToRight {
      //  from {
      //    background-position-x: 0%;
      //  }
      //
      //  to {
      //    background-position-x: 100%;
      //  }
      //}

      #section_2__background_1 {
        position: absolute;
        top: -201px;
        z-index: -1;
      }

      .container {
        //@FIXED: The design fixed the container width at 1500px, how can you using .container-fluid?
        .text-white;
        .text-center;

        padding: 0;

        .title {
          .text-white;
          .font-roboto-thin;

          //@FIXED: You should use the .font-{font-name} technique to avoid typing too much `font-family` rules
          margin-bottom: -16px;
          margin-right: 23px;
          padding-top: 60px;
          font-size: 60px;
        }

        .text {
          .text-bali-hai;
          .font-roboto-regular;

          margin-right: 23px;
          margin-bottom: 94px;
          font-size: 36px;
          padding-top: 12px;
        }

        #section_2__button_1 {
          //@FIXED: There should be a .background-dodger-blue class already!
          .background-dodger-blue;
          .font-roboto-bold;

          text-decoration: none;
          margin-right: 23px;
          font-size: 18px;
          padding: 14px 54px 11px 53px;
          border: 1px solid @color-dodger-blue;
          border-radius: 25px;
          line-height: 20px;
          letter-spacing: 0.2px;
        }

        #section_2__image {
          position: relative;
          top: 27px;
          right: 12px;
        }
      }
    }

    #section_3 {
      padding-top: 158px;

      .container {
        //padding: 0 284px;
        //@FIXED: DO NOT use .row for .container-fluid! They're for different purpose
        .row {
          .row;
          .text-center;

          .column {
            .make-md-column(4);

            .card {
              .thumbnail {
                border: none;
              }

              .title {
                .text-bunting-blue;
                .font-roboto-bold;

                margin-bottom: 20px;
                font-size: 24px;
                letter-spacing: 0.54px;
              }

              .description {
                .text-bali-hai;
                .font-roboto-regular;

                font-size: 18px;
                line-height: 30px;
                letter-spacing: 0.35px;
              }

              .actions {
                .button {
                  .text-bunting-blue;
                  .background-transparent;
                  .font-roboto-bold;

                  margin-left: 2px;
                  padding: 13px 85px 13px 83px;
                  border: 2px solid @color-athens-gray;
                  -webkit-border-radius: 25px;
                  -moz-border-radius: 25px;
                  border-radius: 25px;
                  font-size: 18px;
                  letter-spacing: 0.5px;
                  line-height: 29px;
                }
              }
            }
          }
          //@FIXED: Why the padding & margin values are different among `.thumbnail`s?
          // Because the images have differrent height
          #column_1 {
            padding-right: 20px;

            .thumbnail {
              margin-bottom: 52px;
            }

            .title {
              margin-bottom: 15px;
              margin-right: 2px;
            }

            .description {
              margin-bottom: 59px;
              margin-left: 4px;
            }

            .actions {

            }
          }

          #column_2 {
            padding-right: 40px;

            .thumbnail {
              padding: 0;
              margin-bottom: 48px;
            }

            .title {
              margin-bottom: 15px;
            }

            .description {
              margin-left: 6px;
              margin-bottom: 59px;
            }

            .actions {

            }
          }

          #column_3 {
            padding-right: 27px;

            .thumbnail {
              margin-bottom: 56px;
              padding: 0;
            }

            .title {
              margin-bottom: 15px;
            }

            .description {
              margin-left: 2px;
              margin-bottom: 59px;
            }

            .actions {

            }
          }
        }
      }
    }

    #section_4 {
      padding-top: 230px;
      padding-bottom: 29px;
      //padding-right: 54px;

      .container {
        //@FIXED: DO NOT use .row for .container-fluid! They're for different purpose
        .row {
          .row;

          #column_1 {
            .make-md-column(6);

            padding-top: 49px;
            padding-left: 2px;

            .title {
              .text-bunting-blue;
              .font-roboto-thin;

              margin-bottom: 42px;
              font-size: 60px;
            }

            .description {
              .text-bali-hai;
              .font-roboto-regular;

              margin-bottom: 55px;
              font-size: 18px;
              line-height: 30px;

              #description_1 {
                margin-bottom: 30px;
              }

              #description_2 {
              }
            }

            .list {
              padding: 0;

              .item {
                .text-dodger-blue;
                .font-roboto-regular;

                margin-bottom: 32px;
                font-size: 22px;
                line-height: 30px;
                list-style-type: none;
                background: url("./../../assets/images/pages/home/section_4__check.png");
                background-repeat: no-repeat;
                background-position: top left;
                background-size: 29px;
                padding-left: 45px;
              }
            }
          }

          #column_2 {
            .make-md-column(6);

            right: 75px;

            img {
              position: relative;
            }
          }
        }
      }
    }

    #section_5 {
      margin-top: 54px;
      height: 752px;
      background: url("./../../assets/images/pages/home/section_5__background.png");
      background-repeat: no-repeat;
      background-size: 100% 752px;
      background-position: center;
      padding-top: 153px;
      padding-bottom: 301px;
      padding-right: 1px;

      .container {
        //@FIXED: DO NOT use .row for .container-fluid! They're for different purpose
        margin: 0;
        width: 100%;

        .row {
          .row;

          #section_5__part_1 {
            .make-md-column(7);
            .row;

            padding: 0 96px;

            .column {
              .make-md-column(6);

              padding-left: 68px;
              padding-right: 19px;

              .header {
                .title {
                  .text-white;
                  .font-roboto-medium;

                  margin-left: -5px;
                  margin-bottom: 25px;
                  font-size: 30.59px;
                }

                .meta.count {
                  .text-bali-hai;
                }

                .meta.arrow {
                  float: right;

                  img {
                    height: 27px;
                    width: 16px;
                    margin-top: 8px;
                  }
                }
              }

              .body {
                .list {
                  .item {
                    .card {
                      position: relative;
                      margin-bottom: 12px;
                      width: 389px;
                      height: 99px;
                      padding: 27px;

                      .thumbnail {
                        .background-dodger-blue;
                        .text-white;
                        .text-center;

                        float: left;
                        border-radius: 50%;
                        width: 42px;
                        height: 42px;
                        line-height: 37px;
                        padding-left: 8px;
                        margin-right: 21px;
                        font-size: 18px;
                      }

                      .title {
                        .text-bunting-blue;
                        .font-roboto-medium;

                        margin-bottom: 1px;
                        font-size: 17px;
                        letter-spacing: 0.12px;
                      }

                      .description {
                        .meta {
                          margin-left: 5px;
                          font-size: 10px;
                          letter-spacing: 0.8px;

                          .fa {
                            font-size: 18px;
                          }

                          &.validity-period {
                            .text-bali-hai;

                            &.danger {
                              .text-tickle-me-pink;
                            }
                          }

                          &.status {
                            .text-emerald;
                          }
                        }
                      }

                      .action {
                        .button {
                          float: right;
                          .text-bali-hai;
                          .background-transparent;

                          position: relative;
                          top: -42px;
                          right: 1px;
                          content: '\2807';
                          font-size: 35px;
                        }
                      }

                      .meta.demo {
                        position: absolute;
                        top: 44px;
                        left: 305px;
                      }
                    }

                    &.placeholder {
                      .background-transparent;
                      .text-bali-hai;
                      .text-center;
                      .font-roboto-medium;

                      margin-top: 15px;
                      margin-left: -2px;
                      border: 1px dashed @color-bali-hai;
                      font-size: 21px;
                      width: 391px;
                      height: 100px;
                      padding-top: 31px;
                      padding-bottom: 27px;
                      padding-left: 15px;
                      padding-right: 31px;
                      letter-spacing: -0.28px;
                    }

                    &#section_5__part_1__column_in_progress__item_3 {
                      position: relative;
                      top: 23px;
                      left: 27px;
                    }
                  }
                }
              }

              .card {
                margin-bottom: 13px;
                border: 1px solid @color-mischka;
                width: 389px;
                height: 99px;
                padding: 27px;
                .background-white;

                .card-body {
                  .card-title {

                  }

                  .card-text {
                    font-size: 17px;

                    & .success {
                      span {
                        font-size: 10px;
                        letter-spacing: 1.1px;
                      }
                    }
                  }

                  .dropdown.dropleft {
                    float: right;

                    button {
                      .text-bali-hai;
                      .background-transparent;

                      position: relative;
                      top: -53px;
                      right: -13px;
                      content: '\2807';
                      font-size: 35px;
                    }
                  }
                }
              }

              #section_5__part_2__col_2 {
                padding-left: 21px;
                padding-right: 11px;

                .type {
                  margin-left: -4px;
                }
              }
            }

            #section_5__part_1__column_completed {
              padding-left: 15px;
            }
          }

          #section_5__part_2 {

            .make-md-column(5);

            padding-left: 2px;
            padding-top: 39px;

            > .title {
              .text-white;
              .font-roboto-thin;

              margin-bottom: 40px;
              font-size: 60px;
            }

            > .description {
              p {
                .text-bali-hai;
                .font-roboto-regular;

                margin-left: 5px;
                margin-bottom: 30px;
                font-size: 18px;
                line-height: 30px;
              }

              #description_2 {
                margin-bottom: 49px;
              }
            }

            > #section_5__part_2__arrows {
              padding-left: 8px;

              img {
                margin-right: 16px;
              }
            }
          }
        }
      }
    }

    #section_6 {
      position: relative;
      padding-top: 84px;
      background-image: linear-gradient(to bottom, @color-whisper, white);

      .container {
        //@FIXED: DO NOT use .row for .container-fluid! They're for different purpose
        .row {
          .row;

          > .title {
            .text-center;
            .text-bunting-blue;
            .font-roboto-thin;

            margin-bottom: 30px;
            margin-left: -29px;
            font-size: 60px;
          }

          > .description {
            .text-center;

            margin-bottom: 138px;

            p {
              .text-bali-hai;
              .font-roboto-regular;

              margin-left: -22px;
              font-size: 18px;
              line-height: 30px;
            }
          }

          .content {
            position: relative;
            height: 480px;

            .text-block {
              position: relative;
              z-index: 2;

              .title {
                .text-bunting-blue;

                margin-bottom: 6px;
                font-family: Roboto-Bold, sans-serif;
                font-size: 24px;
                line-height: 92px;
                letter-spacing: 0.53px;
              }

              .description {
                .text-bali-hai;

                font-family: Roboto-Regular, sans-serif;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: -0.27px;
              }
            }

            #section_6__container__content__text_block_1 {
              position: absolute;
              top: -11px;
              left: 44px;
              .text-left;

              > .divider {
                position: absolute;
                top: 63px;
              }
            }

            #section_6__container__content__text_block_2 {
              position: absolute;
              bottom: -10px;
              right: 67px;
              .text-right;

              .title {
                margin-bottom: 5px;
              }

              .description {
                letter-spacing: 0.3px;
                position: relative;
                left: 5px;
              }

              > .divider {
                position: absolute;
                top: 63px;
                right: 0;
              }
            }
          }

          #section_6__background {
            position: absolute;
            top: 342px;
            left: 389px;
          }
        }
      }
    }

    #section_7 {
      position: relative;
      padding-top: 244px;

      .container {
        //@FIXED: DO NOT use .row for .container-fluid! They're for different purpose

        .title {
          .text-bunting-blue;
          .text-center;
          .font-roboto-thin;

          margin-bottom: 92px;
          margin-left: -26px;
          font-size: 60px;
        }

        .row {
          .row;
          .text-center;

          .column {
            .make-md-column(4);

            padding: 0 70px;
            position: relative;
            left: -12px;

            .card {

              //max-width: 360px;
              padding: 39px 40px 37px 52px;
              box-shadow: 0 0 32px 32px #dfe2ea26;
              border-radius: 1px;

              .title {
                .text-bunting-blue;
                .font-roboto-regular;

                margin: 0;
                margin-left: -9px;
                margin-bottom: 55px;
                font-size: 24px;
                line-height: 36px;
                letter-spacing: 0.4px;
              }

              .meta.price {
                margin-bottom: 28px;

                #dolar {
                  .text-bunting-blue;
                  .font-roboto-bold;

                  position: relative;
                  top: -3px;
                  font-size: 40.01px;
                  line-height: 65.47px;
                }

                #number {
                  .text-bunting-blue;
                  .font-roboto-bold;

                  font-size: 72px;
                  line-height: 36px;
                }

                #period {
                  .text-bali-hai;
                  .font-roboto-regular;

                  position: relative;
                  left: 3px;
                  font-size: 24px;
                  letter-spacing: 0.6px;
                }
              }

              .list {
                .text-left;

                .item {
                  .text-bali-hai;
                  .font-roboto-regular;

                  font-size: 18px;
                  line-height: 41px;
                  letter-spacing: 0.3px;

                  img {
                    width: 24px;
                    height: 25px;
                    margin-right: 9px;
                  }
                }
              }
            }
          }
        }
        
        .action.join {
          .text-center;

          .description {
            margin-top: 108px;
            margin-right: 23px;
            margin-left: 19px;

            p {
              .text-bali-hai;

              font-family: Roboto-Regular, sans-serif;
              font-size: 18px;
              line-height: 20px;
              letter-spacing: -0.01px;
            }
          }

          .button {
            position: relative;
            .text-white;
            .font-roboto-bold;

            display: inline-block;
            margin-top: 59px;
            margin-bottom: 103px;
            margin-right: 22px;
            font-size: 18px;
            padding: 9px 60px;
            line-height: 30px;
            background-color: @color-dodger-blue;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            letter-spacing: 0.3px;

            &::before,
            &::after {
              content: '';
              position: absolute;
              width: 225px;
              height: 1px;
              background: @color-athens-gray;
            }

            &::before {
              top: 21px;
              left: 235px;
            }

            &::after {
              top: 21px;
              right: 235px;
            }
          }
        }
      }
    }
  }
}
